
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text{
    width: 65%;
}
.text h1,p{
    z-index: 999;
}
.text .form{
    z-index: 999;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#fff;
    opacity: .5;
}
.text::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#000;
    transform-origin: top right;
    transform: skewX(-10deg);
    z-index: 1;
    opacity: .9;
    
}

.text h1{
    font-size: 3.5rem;
}  

.icons{
position: relative;
top: 30%;
z-index: 1;
}
.icons i{
    background-color: #000;
    cursor: pointer;
}
.icons i:hover{
    opacity: .7;
}

